body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 4rem 1rem;
    overflow-y: scroll;
    text-align: center;
}

h1 {
    color: var(--primary);
}

a {
    color: var(--accent);
}

summary {
    cursor: pointer;
}

table {
    margin: auto;
}

/* Formulare */

.easyform {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1ch;
    width: max-content;
    margin: auto;
}

input {
    background-color: transparent;
    border-width: 0 0 calc(1ch / 10) 0;
    color: var(--primary);
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
  outline: 2px solid var(--primary) !important;
  outline-offset: 2px !important;
}

button {
    cursor: pointer;
    color: var(--text);
    background-color: var(--secondary);
    border-radius: calc(3ch / 10);
}

/* Liste */

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

ul > li {
    margin: 0.25ch;
    border: 1px solid var(--secondary);
    padding: 0.125ch;
}

ul > li > a {
    text-decoration: none;
    color: var(--primary);
}

/* Ecken */

.bottomleft, .topright, .back, .bottomright {
    position: fixed;
}

.bottomleft {
    bottom: 1ch;
    left: 1ch;
}

.bottomright {
    bottom: 1ch;
    right: 1ch;
}

.topright {
    top: 1ch;
    right: 1ch;
}

.back {
    left: 1ch;
    top: 1ch;
}

/* Meldung */

.errorMessage {
    position: fixed;
    bottom: 1ch;
    left: 1ch;
    right: 1ch;
    padding: 2ch;
    background-color: var(--red);
    color: var(--background);
}
