.icon {
    display: inline-block;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
    padding: 0.2rem;
    background-color: var(--primary);
    mask-size: contain;
}

.icon.small {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    vertical-align: center;
}

.icon.back {
    mask-image: url("/assets/chevron-left-alt-svgrepo-com.svg");
}

.icon.users {
    mask-image: url("/assets/users-svgrepo-com.svg");
}

.icon.logout {
    mask-image: url("/assets/logout-svgrepo-com.svg");
}

.icon.search {
    mask-image: url("/assets/search-svgrepo-com.svg");
}

.icon.userminus {
    mask-image: url("/assets/user-minus-svgrepo-com.svg");
}

.icon.useradd {
    mask-image: url("/assets/user-add-svgrepo-com.svg");
}

.icon.userx {
    mask-image: url("/assets/user-x-svgrepo-com.svg");
}

.icon.usercheck {
    mask-image: url("/assets/user-check-svgrepo-com.svg");
}

.icon.pencil {
    mask-image: url("/assets/pencil-svgrepo-com.svg");
}

.icon.x {
    mask-image: url("/assets/x-alt-svgrepo-com.svg");
}