.zug > * {
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    background-size: contain;
    --width: 1.875rem;
    width: var(--width);
    height: 3.75rem;
    padding: 0;
    vertical-align: center;
    color: var(--background);
}

.zug > .door {
    width: calc(var(--width) * 2);
    background-image: url("/assets/zug/door.svg");
}

.zug > .verbindung {
    background-image: url("/assets/zug/verbindung.svg");
    width: calc(var(--width) / 2);
}

.zug > .fenster {
    padding: 0.75rem 0 0 0;
    background-image: url("/assets/zug/fenster.svg");
}

.zug > .anfang {
    transform: scaleX(-1);
}

.zug > .anfang, .zug > .ende {
    width: calc(var(--width) * 2);
    background-image: url("/assets/zug/ende.svg");
}

.zug > .ende {
    padding: 0.75rem 0 0 0;
    color: var(--accent);
    font-size: x-large;
}

.zug {
    display: block;
    overflow-x: scroll;
    text-wrap-mode: nowrap;
}